.Comment {
  list-style: none;
  display: grid;
  grid-template-columns: 60px 1fr 20px 100px;
  margin: 10px 2%;
  width: 96%;
  div {
    justify-content: space-between;
    button {
      border: 0;
      background: none;
    }
  }
  .edit {
    button {
      display: none;
    }
    &:hover button {
      // display: flex;
      // flex-direction: row;
      display: inline;
    }
  }

  .text {
    justify-self: left;
    justify-content:  space-between;
    font-size: 1em;
  }
}